@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    background-color: #1E1E1E;
    color: #F0E3CA;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 60px;
}
.button{
    background-color: #242320;
    border: 1px solid #FF8303;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 5px;
    padding: 7px 15px;
    color: #F0E3CA;
}
.button:hover{
    background-color: #1B1A17;
}

@media screen and (max-width: 768px) {
    .container{
        padding: 0 15px;
    }
}